<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Views.CollectionsScreen.WorkOutProcessScreen.WorkOutProcessEnd"
            android:exported="false" />
        <activity
            android:name=".Views.CollectionsScreen.BothUseScreen.DetailCollectionScreen"
            android:exported="false" />
        <activity
            android:name=".Views.InforScreen"
            android:exported="false" />
        <activity
            android:name=".Views.CollectionsScreen.WorkOutProcessScreen.WorkOutProcessScreen1"
            android:exported="false" />
        <activity
            android:name=".Views.CountingTimerScreen"
            android:exported="false" />
        <activity
            android:name=".Views.TimerScreen"
            android:exported="false" />
        <activity
            android:name=".Views.CollectionsScreen.WorkOutProcessScreen.WorkoutProcessScreen2"
            android:exported="false" />
        <activity
            android:name=".Views.CollectionsScreen.BothUseScreen.UpdateSaveCollectionScreen"
            android:exported="false" />
        <activity
            android:name=".Views.SettingNewRountineScreen"
            android:exported="false" />
        <activity
            android:name=".Views.CollectionsScreen.RoutineCollectionScreen.RoutineDetailScreen"
            android:exported="false" />
        <activity
            android:name=".Views.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".Views.AccountScreen"
            android:exported="false" />
        <activity
            android:name=".Views.TargetChoiceScreen"
            android:exported="false" />
        <activity
            android:name=".Views.SignInScreenAtFirst"
            android:exported="false" />
        <activity
            android:name=".Views.FrequencyChoiceScreen"
            android:exported="false" />
        <activity
            android:name=".Views.WorkoutAreaChoiceScreen"
            android:exported="false" />
        <activity
            android:name=".Views.InformationScreen2Firstly"
            android:exported="false" />
        <activity
            android:name=".Views.SignInScreenFirstly"
            android:exported="false" />
        <activity
            android:name=".Views.WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".Views.InformationScreen1Firstly"
            android:exported="false" />
        <activity
            android:name=".Views.AccountConfirmScreen"
            android:exported="false" />
        <activity
            android:name=".Views.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>